<%= render 'user_card', user: @user %>

<section class="card-events">
  <h2>Mes évenements</h2>
  <div class="row">
    <% @user.organized_events.sort_by{ |event| event.start_date }.each do |event| %>
      <%= render 'shared/event-card', event: event %>
    <% end %>
  </div>
</section>
<section class="card-events">
  <h2>Mes participations</h2>
  <div class="row">
    <% @user.events.sort_by{ |event| event.start_date }.each do |event| %>
      <%= render 'shared/event-card', event: event %>
    <% end %>
  </div>
</section>


