<div class="row">
    <div class="col-md-10 offset-md-1 bg-white">
        <%= render 'show_img', event: @event %>
		<%= render 'show_icons', event: @event %>
		<%= render 'show_desc', event: @event %>
    </div>
</div>