<div class="container mt-3">
    <%= render 'show_event', event: @event %>
    <div class="row">
		<div class="col-md-10 offset-md-1">
    		<%= link_to 'Retour', events_path, class:"btn btn-link" %>
		</div>
	</div>
</div>
