<h1 class="text-center">User n°<%= @user.id %></h1>
<%= render 'users/user_card', user: @user %>

<section class="card-events">
	<h2>Mes évenements</h2>
	<div class="row">
		<% @user.organized_events.sort_by{ |event| event.start_date }.each do |event| %>
			<%= render 'shared/event-card', event: event, attendance: false %>
		<% end %>
	</div>
</section>

<section class="card-events">
	<h2>Events as participant</h2>
	<div class="row">
		<% @user.events.sort_by{ |event| event.start_date }.each do |event| %>
			<%= render 'shared/event-card', event: event, attendance: true %>
		<% end %>
	</div>
</section>
