<footer class="footer">
    <div class="card border rounded-0">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-center">
                <a href="#"><i class="fab fa-instagram fa-2x border rounded-circle p-2 text-center ml-2 mr-2" style="width:50px; height:50px;"></i></a>
                <a href="#"><i class="fab fa-snapchat-ghost fa-2x border rounded-circle p-2 text-center ml-2 mr-2" style="width:50px; height:50px;"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x border rounded-circle p-2 text-center ml-2 mr-2" style="width:50px; height:50px;"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x border rounded-circle p-2 text-center ml-2 mr-2" style="width:50px; height:50px;"></i></a></div>
                <ul class="d-flex flex-row justify-content-center mt-3">
                    <li class="list-inline-item ml-3 mr-3"><a href="#">Home</a></li>
                    <li class="list-inline-item ml-3 mr-3"><a href="#">Services</a></li>
                    <li class="list-inline-item ml-3 mr-3"><a href="#">About</a></li>
                    <li class="list-inline-item ml-3 mr-3"><a href="#">Terms</a></li>
                    <li class="list-inline-item ml-3 mr-3"><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        <p class="text-center small text-muted">The Events Project © 2019</p>
    </div>     
</footer>